.icon-svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.icon-carousel-next {
	font-size:(478.448/10)*1rem;
	//width:(478.448/478.448)*1em;
}
.icon-carousel-prev {
	font-size:(370.814/10)*1rem;
	//width:(370.814/370.814)*1em;
}
.icon-contacts-address {
	font-size:(54.757/10)*1rem;
	//width:(54.757/54.757)*1em;
}
.icon-contacts-email {
	font-size:(205.996/10)*1rem;
	//width:(205.996/205.996)*1em;
}
.icon-contacts-tel {
	font-size:(405.333/10)*1rem;
	//width:(405.333/405.333)*1em;
}
.icon-dorohovdesign {
	font-size:(44.7/10)*1rem;
	//width:(139.4/44.7)*1em;
}
.icon-fb {
	font-size:(96.123/10)*1rem;
	//width:(96.124/96.123)*1em;
}
.icon-icon-search {
	font-size:(451/10)*1rem;
	//width:(451/451)*1em;
}
.icon-inst {
	font-size:(97.395/10)*1rem;
	//width:(97.395/97.395)*1em;
}
.icon-logotip {
	font-size:(128.3/10)*1rem;
	//width:(161.5/128.3)*1em;
}
.icon-map-location {
	font-size:(54/10)*1rem;
	//width:(54/54)*1em;
}
.icon-modal-close {
	font-size:(371.23/10)*1rem;
	//width:(371.23/371.23)*1em;
}
.icon-ok {
	font-size:(95.481/10)*1rem;
	//width:(95.481/95.481)*1em;
}
.icon-owl-next {
	font-size:(477.2/10)*1rem;
	//width:(477.2/477.2)*1em;
}
.icon-owl-prev {
	font-size:(477.175/10)*1rem;
	//width:(477.175/477.175)*1em;
}
.icon-plus {
	font-size:(459.325/10)*1rem;
	//width:(459.325/459.325)*1em;
}
.icon-ruble {
	font-size:(500/10)*1rem;
	//width:(500/500)*1em;
}
.icon-slick-left {
	font-size:(31.494/10)*1rem;
	//width:(31.494/31.494)*1em;
}
.icon-slick-right {
	font-size:(23/10)*1rem;
	//width:(32/23)*1em;
}
.icon-tel {
	font-size:(480.56/10)*1rem;
	//width:(480.56/480.56)*1em;
}
.icon-tw {
	font-size:(612/10)*1rem;
	//width:(612/612)*1em;
}
.icon-vk {
	font-size:(304.36/10)*1rem;
	//width:(304.36/304.36)*1em;
}
