.icon-svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.icon-contacts-address {
	font-size:(54.757/10)*1rem;
	//width:(54.757/54.757)*1em;
}
.icon-contacts-email {
	font-size:(205.996/10)*1rem;
	//width:(205.996/205.996)*1em;
}
.icon-contacts-tel {
	font-size:(405.333/10)*1rem;
	//width:(405.333/405.333)*1em;
}
.icon-docs-pdf {
	font-size:(33/10)*1rem;
	//width:(26/33)*1em;
}
.icon-dorohovdesign {
	font-size:(44.7/10)*1rem;
	//width:(139.4/44.7)*1em;
}
.icon-facilty-agrotehnika {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-agrobiznes {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-biotehnologija {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-econom {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-isi {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-kolledj {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-portal {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-faculty-repodgotovka {
	font-size:(64/10)*1rem;
	//width:(53/64)*1em;
}
.icon-faculty-test {
	font-size:(64/10)*1rem;
	//width:(60/64)*1em;
}
.icon-faculty-text {
	font-size:(64/10)*1rem;
	//width:(64/64)*1em;
}
.icon-fb {
	font-size:(96.123/10)*1rem;
	//width:(96.124/96.123)*1em;
}
.icon-form-argeement {
	font-size:(19/10)*1rem;
	//width:(22/19)*1em;
}
.icon-icon-download {
	font-size:(53/10)*1rem;
	//width:(53/53)*1em;
}
.icon-icon-entrants {
	font-size:(50/10)*1rem;
	//width:(54/50)*1em;
}
.icon-icon-play {
	font-size:(68/10)*1rem;
	//width:(97/68)*1em;
}
.icon-icon-search {
	font-size:(17/10)*1rem;
	//width:(16/17)*1em;
}
.icon-icon-special {
	font-size:(8/10)*1rem;
	//width:(22/8)*1em;
}
.icon-icon-student {
	font-size:(50/10)*1rem;
	//width:(51/50)*1em;
}
.icon-inst {
	font-size:(97.395/10)*1rem;
	//width:(97.395/97.395)*1em;
}
.icon-link-more {
	font-size:(8/10)*1rem;
	//width:(120/8)*1em;
}
.icon-modal-close {
	font-size:(371.23/10)*1rem;
	//width:(371.23/371.23)*1em;
}
.icon-navbar-dropdown {
	font-size:(4/10)*1rem;
	//width:(7/4)*1em;
}
.icon-pagin-next {
	font-size:(13/10)*1rem;
	//width:(7/13)*1em;
}
.icon-pagin-prev {
	font-size:(13/10)*1rem;
	//width:(7/13)*1em;
}
.icon-plus {
	font-size:(459.325/10)*1rem;
	//width:(459.325/459.325)*1em;
}
.icon-slick-left {
	font-size:(37/10)*1rem;
	//width:(54/37)*1em;
}
.icon-slick-right {
	font-size:(37/10)*1rem;
	//width:(54/37)*1em;
}
.icon-tel {
	font-size:(480.56/10)*1rem;
	//width:(480.56/480.56)*1em;
}
.icon-view {
	font-size:(43/10)*1rem;
	//width:(43/43)*1em;
}
.icon-vk {
	font-size:(304.36/10)*1rem;
	//width:(304.36/304.36)*1em;
}
